<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="BasicHttpBinding_IVocabulary" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
                <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
                       maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
              </binding>
            </basicHttpBinding>
          <webHttpBinding>
            <binding maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
          </webHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55842/Vocabulary.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IVocabulary" contract="ServiceVocabulary.IVocabulary"
                name="BasicHttpBinding_IVocabulary" />
        </client>
    </system.serviceModel>
</configuration>