<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IVocabulary" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55842/Vocabulary.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IVocabulary" contract="ServiceVocabulary.IVocabulary"
                name="BasicHttpBinding_IVocabulary" />
        </client>
    </system.serviceModel>
</configuration>