<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <log4net>
    <appender name="InfoFile" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Logs\Info.log"/>
      <param name="AppendToFile" value="true"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="5MB"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <rollingStyle value="Once"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss:fff} / %m / %p%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG"/>
        <levelMax value="INFO"/>
      </filter>
    </appender>
    <appender name="ErrorFile" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\Error.log"/>
      <param value="true"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="5MB"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <rollingStyle value="Once"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{dd MMM yyyy HH:mm:ss:fff} / %message / %level / %thread / %logger%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR"/>
        <levelMax value="FATAL"/>
      </filter>
    </appender>
    <root>
      <appender-ref ref="InfoFile" />
      <appender-ref ref="ErrorFile" />
    </root>
  </log4net>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_IVocabulary" 
                   maxBufferPoolSize="2147483647" 
                   maxBufferSize="2147483647"
                   maxReceivedMessageSize="2147483647"
                   sendTimeout="00:10:00">
            <readerQuotas maxDepth="32" 
                          maxStringContentLength="2147483647"
                          maxArrayLength="2147483647"
                          maxBytesPerRead="2147483647"
                          maxNameTableCharCount="2147483647" />
          </binding>
        </basicHttpBinding>
        <webHttpBinding>
          <binding maxBufferSize="2147483647"
                   maxReceivedMessageSize="2147483647" />
        </webHttpBinding>
      </bindings>
      <client>
        <endpoint address="http://localhost:55842/Vocabulary.svc" 
                  binding="basicHttpBinding"
                  bindingConfiguration="BasicHttpBinding_IVocabulary"
                  contract="ServiceVocabulary.IVocabulary"
                  name="BasicHttpBinding_IVocabulary" />
      </client>
    </system.serviceModel>
</configuration>